body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
  
html {
    height: -webkit-fill-available;
}

main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

main .container {
    overflow-y: scroll;
}

.form label,
.form input,
.form button {
    width: 50%;
    margin-bottom: 1rem;
}

.form label,
.form input,
.form button {
    width: 50%;
    margin-bottom: 1rem;
}
.conteiner-principal{
    display: flex;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 100px;
}
.btn-save{
    width: 100% !important;
}
