# Ativação do RewriteEngine que nos permite gerenciar as rotas
RewriteEngine On

# Definição da rota principal
RewriteBase /

# Se o diretório ou arquivos digitados na URL não existirem, seguir a RewriteRule
RewriteCond %{REQUEST_FILENAME} !-d       
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/requests/.*\.php$

# Rewrite Rule, redirecionar todas as requests para o index.php 
RewriteRule ^(.+)$ index.php [QSA,L]

# Bloqueia a listagem de diretórios.
Options All -Indexes

# Mensagem de erro personalizada para bloqueio do acesso direto a diretórios e arquivos 
ErrorDocument 403 /index.php

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>